<div class="vtitle ztcx">
    测试
</div>
<div class="vcon" style="display: none; ">
    <ul style="height:60%;">
        <li><b class="fff-img addi" style=" position: absolute; top: 106px; left: 32px; "></b><a href="css_base.html" target="main" class="ui-corner-all">css基础</a></li>
        <li><b class="fff-img delete" style=" position: absolute; top: 139px; left: 32px; "></b><a href="fileicon.html" target="main" class="ui-corner-all">附件图标</a></li>
        <li><b class="fff-img doc" style=" position: absolute; top: 175px; left: 30px; "></b><a href="button.html" target="main" class="ui-corner-all">按钮</a></li>
        <li><b class="fff-img equipment" style=" position: absolute; top: 210px; left: 32px; "></b><a href="form.html" target="main" class="ui-corner-all">表单基本</a></li>
        <li><b class="fff-img log" style=" position: absolute; top: 245px; left: 34px; "></b><a href="table.html" target="main" class="ui-corner-all">表格基本</a></li>
        <li><b class="fff-img repair" style=" position: absolute; top: 279px; left: 34px; "></b><a href="page.html" target="main" class="ui-corner-all">分页</a></li>
        <li><b class="fff-img select" style=" position: absolute; top: 314px; left: 34px; "></b><a href="tab.html" target="main" class="ui-corner-all">标签</a></li>
        <li><b class="fff-img sum" style=" position: absolute; top: 349px; left: 34px; "></b><a href="img_list.html" target="main" class="ui-corner-all">图文列表</a></li>
    </ul>
</div>