<div class="vtitle ztcx">
    公文管理
</div>
<div class="vcon" style="display: none;">
    <ul class="vconlist">
        <li><a href="manage.html" target="main" class="ui-corner-all">个人文件柜</a></li>
        <li><a href="public_file.html" target="main" class="ui-corner-all">公共文件柜</a></li>
        <li><a href="manage.html" target="main" class="ui-corner-all">新建公文</a></li>
        <li><a href="wait_doc.html" target="main" class="ui-corner-all">待办件</a></li>
        <li><a href="track_doc.html" target="main" class="ui-corner-all">办文追踪</a></li>
        <li><a href="registrate_doc.html" target="main" class="ui-corner-all">登记本</a></li>
        <li><a href="recycle_doc.html" target="main" class="ui-corner-all">废纸篓</a></li>
        <li><a href="selete_doc.html" target="main" class="ui-corner-all">公文检索</a></li>
        <li><a href="user_preferences.html" target="main" class="ui-corner-all">个性设置</a></li>
    </ul>
</div>